@muonw:registry=https://node.pkgreg.com/
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=B843F2D0-0E6D-4282-A33F-66B3166EB1E6

//@capawesome-team:registry=https://npm.pkg.github.com
@capawesome-team:registry https://npm.registry.capawesome.io