/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #019d92;
  --f7-theme-color-rgb: 1, 157, 146;
  --f7-theme-color-shade: #01746c;
  --f7-theme-color-tint: #01c6b8;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 1;
  --g: 157;
  --b: 146;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */

.theme-light > input[type=number]{background:white;}
.fadrop{filter:drop-shadow(2px 2px 2px rgba(0,0,0,0.3));}

@media print {.print\:blocked {display: block;}.print\:m-0 {margin: 0px;}.print\:mx-0 {margin-left: 0px;margin-right: 0px;}.print\:mx-1 {margin-left: 0.25rem;margin-right: 0.25rem;}.print\:my-1 {margin-top: 0.25rem;margin-bottom: 0.25rem;}.print\:my-0 {margin-top: 0px;margin-bottom: 0px;}.print\:my-2 {margin-top: 0.5rem;margin-bottom: 0.5rem;}.print\:mt-0 {margin-top: 0px;}.print\:mb-1 {margin-bottom: 0.25rem;}.print\:mb-0 {margin-bottom: 0px;}.print\:mt-1 {margin-top: 0.25rem;}.print\:ml-1 {margin-left: 0.25rem;}.print\:mb-2 {margin-bottom: 0.5rem;}.print\:ml-0 {margin-left: 0px;}.print\:mt-2 {margin-top: 0.5rem;}.print\:mb-4 {margin-bottom: 1rem;}.print\:block {display: block;}.print\:inline-block {display: inline-block;}.print\:inline {display: inline;}.print\:inline-flex {display: inline-flex;}.print\:hidden {display: none;}.print\:h-4 {height: 1rem;}.print\:h-full {height: 100%;}.print\:w-full {width: 100%;}.print\:w-1\/2 {width: 50%;}.print\:w-7\/12 {width: 58.333333%;}.print\:w-1\/12 {width: 8.333333%;}.print\:w-1\/6 {width: 16.666667%;}.print\:w-5\/12 {width: 41.666667%;}.print\:w-6\/12 {width: 50%;}.print\:w-1\/3 {width: 33.333333%;}.print\:w-4\/12 {width: 33.333333%;}.print\:w-3\/12 {width: 25%;}.print\:w-2\/12 {width: 16.666667%;}.print\:w-2\/3 {width: 66.666667%;}.print\:w-1\/5 {width: 20%;}.print\:w-4 {width: 1rem;}.print\:w-1\/4 {width: 25%;}.print\:w-2\/6 {width: 33.333333%;}.print\:w-9\/12 {width: 75%;}.print\:scale-y-75 {--tw-scale-y: .75;transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));}.print\:transform {transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));}.print\:grid-cols-2 {grid-template-columns: repeat(2, minmax(0, 1fr));}.print\:grid-cols-3 {grid-template-columns: repeat(3, minmax(0, 1fr));}.print\:gap-1 {gap: 0.25rem;}.print\:gap-0 {gap: 0px;}.print\:gap-0\.5 {gap: 0.125rem;}.print\:overflow-hidden {overflow: hidden;}.print\:border {border-width: 1px;}.print\:border-b {border-bottom-width: 1px;}.print\:border-l-0 {border-left-width: 0px;}.print\:border-none {border-style: none;}.print\:border-slate-300 {--tw-border-opacity: 1;border-color: rgb(203 213 225 / var(--tw-border-opacity));}.print\:bg-white {--tw-bg-opacity: 1;background-color: rgb(255 255 255 / var(--tw-bg-opacity));}.print\:bg-gray-50 {--tw-bg-opacity: 1;background-color: rgb(250 250 250 / var(--tw-bg-opacity));}.print\:bg-gray-200 {--tw-bg-opacity: 1;background-color: rgb(229 229 229 / var(--tw-bg-opacity));}.print\:bg-gray-100 {--tw-bg-opacity: 1;background-color: rgb(245 245 245 / var(--tw-bg-opacity));}.print\:bg-gray-300 {--tw-bg-opacity: 1;background-color: rgb(212 212 212 / var(--tw-bg-opacity));}.print\:bg-transparent {background-color: transparent;}.print\:p-0 {padding: 0px;}.print\:p-4 {padding: 1rem;}.print\:p-1 {padding: 0.25rem;}.print\:p-2 {padding: 0.5rem;}.print\:py-0 {padding-top: 0px;padding-bottom: 0px;}.print\:px-1 {padding-left: 0.25rem;padding-right: 0.25rem;}.print\:px-0 {padding-left: 0px;padding-right: 0px;}.print\:py-1 {padding-top: 0.25rem;padding-bottom: 0.25rem;}.print\:px-2 {padding-left: 0.5rem;padding-right: 0.5rem;}.print\:pr-2 {padding-right: 0.5rem;}.print\:pr-0 {padding-right: 0px;}.print\:pb-1 {padding-bottom: 0.25rem;}.print\:pt-0 {padding-top: 0px;}.print\:text-sm {font-size: 0.875rem;line-height: 1.25rem;}.print\:text-lg {font-size: 1.125rem;line-height: 1.75rem;}.print\:text-base {font-size: 1rem;line-height: 1.5rem;}.print\:text-xs {font-size: 0.75rem;line-height: 1rem;}.print\:capitalize {text-transform: capitalize;}.print\:tracking-normal {letter-spacing: 0em;}.print\:text-black {--tw-text-opacity: 1;color: rgb(0 0 0 / var(--tw-text-opacity));}.print\:text-gray-900 {--tw-text-opacity: 1;color: rgb(23 23 23 / var(--tw-text-opacity));}.print\:text-blue-600 {--tw-text-opacity: 1;color: rgb(37 99 235 / var(--tw-text-opacity));}.print\:shadow-none {--tw-shadow: 0 0 #0000;--tw-shadow-colored: 0 0 #0000;box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);}.print\:ring-0 {--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);}}